body {
	background-color: black;
}
h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px blue;
}
h3 {
	color: white;
}
td {
	color: lightgray;
	padding: 4px;
    border-bottom: 1px solid #ddd;
	text-align: center;
}
table {
	width: 95%;
	background-color: darkslategray;
	border: 2px solid black;
	border-radius: 30px;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
}
#symbol {
	font-size: 30px;
	text-shadow: 2px 2px black;
}
#markup {
	color: green;
}